@use '../styles/components/variables';

.nav-bar{
    padding: 2em 0;

    &__img{
        max-width: 200px;
    }

    &__menu{
        display: flex;
        gap: 20px;

        &__item{
            background-color: variables.$buttonColorBlue;
            padding: 0.5em 1em;
            border-radius: 5em;
        }
    }

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}